.sub-main-notes{
    height: 76%;
    width: 97.5%;
    min-width: 525px;
    top:100px;
    padding-top: 100px;
    border-radius: 13px;
    background-color: #222;
    margin-top: 125px;
}
.user-date{
    margin-top: -70px;
    margin-left: 1.5%;
    height: 10%;
    width: 97%;
    background-color: white;
    border-radius: 13px;
}
.divider{
    height: 1%;
}
.notes-panel{
    margin-top: 1.5%;
    background-color: white;
    margin-left: 1.5%;
    height: 92%;
    width: 97%;
    border-radius: 13px;
    overflow-y: scroll;
}
.date-picker{
 border-radius: 13px;   
}
.note-element{
    align-items: left;
    margin-left: 1.5%;
    background-color: rgb(231, 230, 230);
    width: 97%;
    height: 15%;
    border-radius: 13px;
    margin-top: 10px;
}
.text-input{
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    width: 95%;
    margin-left: 0.8%;
    display: flex;
    font-size: 15px;
    text-decoration: none;
    color:#222;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.text-title-input{
    height: 9px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color:#222;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.text{
    display: flex;
    font-size: 15px;
    text-decoration: none;
    color:#222;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.text-title{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color:#222;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.date-selection-panel{
    padding-top: 25px;
}
.button-confirm{
    margin-top: 10px;
    margin-left: 10px;
    height: 25px;
    border-radius: 13px;
    background-color: #222;
    color: white;
    font-size: 15px;
    border: none;
}
.add-button{
    width: 40px;
    padding-top: 6px;
    text-align: center;
    margin-left: 10px;
    border-radius: 30px;
    background-color: #222;
    color: white;
    font-size: 25px;
    border: none;
}
button:hover{
    background-color: rgb(80,80,238);
}